<div class="alert alert-light">
<p><%= @search %></p>
<p>- You</p>
</div>
<div class="alert alert-warning" >
<p><%= @answer %></p>
<p>- Your coach</p>
</div>

<%= link_to "Ask a new questions", ask_path %>
